In [1]:
print("this is Spaaaarta")

this is Spaaaarta

In [2]:
#data/value can be stored in temporary storage space called Variables

In [3]:
student="sam"

In [4]:
student

'sam'

In [5]:
#data type -> integer ->2,3   
#float ->3.14,20.25     
#boolean-> true, false       
#string -> 'sam','matt' 
#complex -> 3+2j (i represent as j)

In [6]:
a1=10
a1

10

In [7]:
type(a1)

int

In [8]:
a1=2.256
a1

2.256

In [9]:
type(a1)

float

In [11]:
a1= True

a1

True

In [12]:
type(a1)

bool

In [13]:
a1='sam'
type(a1)

str

In [14]:
a1=3+4j
type(a1)

complex

In [15]:
# Operator 
#Airthmatic Operator -> add +, sub -,mul *,div /,
#Relational operator -> less than<,greater than>,==,!=(not equal to)
#Logical Operator -> &(and) |(or)

In [16]:
a=True
b=False
a|b

True

In [19]:
#Python Token -> Smallest meaningful components in python ex.- keywords,identifiers,literals,operators
#keywords-> they are special reserved words
#identifier-> are names used for variables,function or Objects (not start with _),(case sensitive),(first letter not be digit)
#literals-> constants in python 
#Strings-> are sequence of Characters Enclosed with "",'',"''" ex-'hello',"spaarta","'show me book'" \n means New line
#index value Start with 0 and from left

In [22]:
my_string="this is spaarta"

In [23]:
my_string

'this is spaarta'

In [24]:
my_string[0]

't'

In [25]:
my_string[-2]

't'

In [35]:
my_string[0:16]

'this is spaarta'

In [31]:
# For finding length of string we use len(my_string)
#converting string to lower case we use my_string.lower()
#converting string to upper case we use my_string.upper()

In [32]:
len(my_string)

15

In [33]:
my_string.lower()

'this is spaarta'

In [34]:
my_string.upper()

'THIS IS SPAARTA'

In [36]:
#replacing a substring -> my_string.replace('s','er')
#number of Occurrences of Substring -> my_string.count('s')

In [40]:
my_string.replace('is','are')

'thare are spaarta'

In [41]:
my_string.count('r')

1

In [42]:
#Finding index value of Substring -> .find('')
#spliting a String -> .split(',')

In [49]:
s1='this is sparmaaaa'
s1

'this is sparmaaaa'

In [50]:
s1.find('m')

12

In [51]:
s1.split('s')

['thi', ' i', ' ', 'parmaaaa']

# Data Structure -> List,tuple,dict,set

In [52]:
#tuple -> is an order collection of element enclosed within ()
#tuples are Immutable,means we can not change in tuple
#tup1=(1,'a',True)

In [55]:
tup1=(1,'hello',3.155,True,5-3j)

In [56]:
tup1

(1, 'hello', 3.155, True, (5-3j))

In [57]:
tup1[0]

1

In [58]:
tup1[-2]

True

In [59]:
tup1[1:3]

('hello', 3.155)

In [60]:
tup1[3]='sparta'

TypeError: 'tuple' object does not support item assignment

In [61]:
len(tup1)

5

In [62]:
tup2=(1,2,3)
tup3=(4,5,6)
tup1+tup2

(1, 'hello', 3.155, True, (5-3j), 1, 2, 3)

In [63]:
tup2+tup3

(1, 2, 3, 4, 5, 6)

In [67]:
tup3+tup1

(4, 5, 6, 1, 'hello', 3.155, True, (5-3j))

In [68]:
tup2,tup3

((1, 2, 3), (4, 5, 6))

In [69]:
tup3,tup2

((4, 5, 6), (1, 2, 3))

In [70]:
tup2*5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [71]:
tup2*2+tup3+tup1

(1, 2, 3, 1, 2, 3, 4, 5, 6, 1, 'hello', 3.155, True, (5-3j))

In [74]:
min(tup2)

1

In [75]:
max(tup3)

6

In [15]:
#list-> list is an order collection of elements enclosed within[]
#list are mutable that is we cam do changes in that 
#l1=[1,'a',True]

In [1]:
l1=[1,'sparta',3.14,True]

In [2]:
type(l1)

list

In [3]:
l1[1]

'sparta'

In [4]:
l1[1:3]

['sparta', 3.14]

In [5]:
l1[1:4]

['sparta', 3.14, True]

In [7]:
l1[-1:4]

[True]

In [8]:
l1[0]=152

In [9]:
l1

[152, 'sparta', 3.14, True]

In [10]:
#for adding new element at last we use .append
#and for removing last element we use .pop()

In [11]:
l1.append('mango')

In [12]:
l1

[152, 'sparta', 3.14, True, 'mango']

In [13]:
l1.pop()

'mango'

In [14]:
l1

[152, 'sparta', 3.14, True]

In [16]:
# reversing element in list we use .reverse()
#for sorting a list we use .sort()
#for inserting an element we use .insert(index value,inserting parameter)

In [17]:
l1.reverse()

In [18]:
l1

[True, 3.14, 'sparta', 152]

In [20]:
l2=['sparta','china','mango','usa','india']
l2

['sparta', 'china', 'mango', 'usa', 'india']

In [21]:
l2.sort()
l2

['china', 'india', 'mango', 'sparta', 'usa']

In [22]:
l2.insert(3,'hello')
l2

['china', 'india', 'mango', 'hello', 'sparta', 'usa']

In [23]:
l1+l2 #adding two list

[True,
 3.14,
 'sparta',
 152,
 'china',
 'india',
 'mango',
 'hello',
 'sparta',
 'usa']

In [24]:
l1*2 #repeating element

[True, 3.14, 'sparta', 152, True, 3.14, 'sparta', 152]

In [26]:
#Dictionary 
#Dictionary is an unordered collection of key-value pairs enclosed with{}
#dictionary is mutable difference is key and value pair are present in dictionary
# f={'apple':10,'orange':20}

In [27]:
d1={'mango':10,'apple':50,'gua':20}
d1

{'mango': 10, 'apple': 50, 'gua': 20}

In [28]:
type(d1)

dict

In [30]:
#extracting of key
d1.keys()

dict_keys(['mango', 'apple', 'gua'])

In [32]:
#extracting value
d1.values()

dict_values([10, 50, 20])

In [33]:
# adding new element
d1['pinaapple']=500
d1

{'mango': 10, 'apple': 50, 'gua': 20, 'pinaapple': 500}

In [34]:
#changing an existing value
d1['apple']=100
d1

{'mango': 10, 'apple': 100, 'gua': 20, 'pinaapple': 500}

In [35]:
#update one dictionary's element with another 
#for this fruit1={}
#fruit2={}
#fruit1.update(fruit2)
#fruit1
d2={'ram':600,'sham':550}
d1.update(d2)
d1

{'mango': 10,
 'apple': 100,
 'gua': 20,
 'pinaapple': 500,
 'ram': 600,
 'sham': 550}

In [36]:
#poping of element
#d1.pop('')
#d1
d1.pop('apple')
d1

{'mango': 10, 'gua': 20, 'pinaapple': 500, 'ram': 600, 'sham': 550}

In [43]:
#set is an unorder and unidexed collection of element enclosed with{}
#duplicates are not allowed in set
#index is not present in set
s1={1,'a',3.14}

In [44]:
s1

{1, 3.14, 'a'}

In [45]:
type(s1)

set

In [46]:
#Update one dictionary element with another
s1.add('hello')
s1

{1, 3.14, 'a', 'hello'}

In [47]:
#updating Multiple Element
s1.update([10,20,30])
s1

{1, 10, 20, 3.14, 30, 'a', 'hello'}

In [48]:
#removing element
s1.remove(20)
s1

{1, 10, 3.14, 30, 'a', 'hello'}

In [50]:
#union of set
s2={10,5,'dog'}
s1.union(s2)

{1, 10, 3.14, 30, 5, 'a', 'dog', 'hello'}

In [51]:
#intersection of set
s1.intersection(s2)

{10}

# Decision making Statement

In [52]:
# If-else Statement

In [53]:
# if(condition){
#statement to be Execute
#}
  #else{
#statement to be Execute
#}

In [54]:
a=10
b=20

In [55]:
a,b

(10, 20)

In [57]:
if a>b:
    print("b is more than a")
else:
    print("pagle row mat")

pagle row mat

In [58]:
if a<b:
    print("b is more than a")
else:
    print("pagle row mat")

b is more than a

In [59]:
a=10
b=20
c=30

In [60]:
if (a>b)&(a>c):
    print('a is hoghest')
elif (b>a)&(b>c):
    print('b is highest')
else:
    print('c is highest')

c is highest

In [61]:
#if with Tuple

In [62]:
tup1=('a','b','c')

In [65]:
if 'z'in tup1:
    print('value a is present in tup1')
else:
    print('not present')

not present

In [66]:
#if with list

In [67]:
l1=['sparta',3.14,2,'nont']
l2=[2,7,6]

In [71]:
if 9 in (l1+l2):
    print('ohh')
else:
    print('noo')

noo

In [72]:
#if with dict

In [77]:
d1={'k1':30,'k2':20}

In [78]:
if d1['k2']==40:
    d1['k1']=d1['k1']+200
else:
    d1['k2']=d1['k2']+500

In [ ]:
d1

In [ ]:
#looping statement are used to repeat a task multiple time

In [ ]:
#while Statement
#enter into while loop, test condition,if true do it again other wise leave while loop
#while condition:
 #execute Statement